.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

section{
  
  color: white;
  background-image: linear-gradient(to bottom, #e189a2, #d98099, #b76f83, #824657, #993f58, #771732, #4e2833, #71404e, #7b505c, #956976, #8e636f, #d95a7e);
  height: 400vh;
  padding-top: 30px;
}

.Navarcito{
  background-color: #0F0E0E;
}